# 공통
django==5.2.11
psycopg2-binary==2.9.11
python-dateutil==2.9.0.post0
requests==2.32.3
django-ckeditor-5

# AWS 배포용
gunicorn==25.1.0
whitenoise==6.11.0
boto3==1.42.51
django-storages==1.14.6
python-decouple==3.8
openpyxl==3.1.5
