{% extends "base.html" %}
{% load static %}

{% block title %}자녀 삭제 - AAFC{% endblock %}

{% block content %}
    <div id="sub_contents">
        <div class="sub_top member"><img src="{% static 'images/sub/sub_top_m_member.jpg' %}" alt=""/></div>
        <div class="sub_menu">
            <ul>
                <li class="present"><a href="{% url 'accounts:mypage' %}">마이페이지</a></li>
                <li><a href="{% url 'enrollment:payment_history' %}">결제/수강내역</a></li>
                <li><a href="{% url 'points:point_list' %}">마이포인트</a></li>
                <li><a href="{% url 'notifications:notification_list' %}">알림장</a></li>
                <li><a href="#">회원탈퇴</a></li>
            </ul>
        </div>
        <div class="sub_contents">
            <h2 class="sub_tit">자녀 삭제<span><img src="{% static 'images/sub/home_ico.jpg' %}" alt=""/>HOME&nbsp;&nbsp;>&nbsp;&nbsp;MyPage&nbsp;&nbsp;>&nbsp;&nbsp;<b>자녀 삭제</b></span></h2>

            <div class="join_info">
                <p style="padding:30px; text-align:center; font-size:14px;">
                    <strong>{{ child.name }}</strong>을(를) 정말 삭제하시겠습니까?
                </p>
            </div>
            <div class="join_btn">
                <form method="post" style="display:inline;">
                    {% csrf_token %}
                    <a href="{% url 'accounts:mypage' %}"><img src="{% static 'images/sub/cancel_bts.png' %}" alt="취소"/></a>
                    <a href="javascript:document.forms[1].submit();"><img src="{% static 'images/sub/btn_del.gif' %}" alt="삭제"/></a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
