{% extends "base.html" %}
{% load static %}

{% block title %}프로필 수정 - AAFC{% endblock %}

{% block content %}
    <div id="sub_contents">
        <div class="sub_top member"><img src="{% static 'images/sub/sub_top_m_member.jpg' %}" alt=""/></div>
        <div class="sub_menu">
            <ul>
                <li class="present"><a href="{% url 'accounts:mypage' %}">마이페이지</a></li>
                <li><a href="{% url 'accounts:password_change' %}">비밀번호 변경</a></li>
            </ul>
        </div>
        <div class="sub_contents">
            <h2 class="sub_tit">정보수정<span><img src="{% static 'images/sub/home_ico.jpg' %}" alt=""/>HOME&nbsp;&nbsp;>&nbsp;&nbsp;MyPage&nbsp;&nbsp;>&nbsp;&nbsp;<b>정보수정</b></span></h2>

            <form method="post" id="profile_form">
                {% csrf_token %}
                <h3 class="member_tit"><img src="{% static 'images/sub/join_ico_06.png' %}" alt=""/>회원정보 수정</h3>
                <div class="join_info">
                    <table summary="">
                        <tbody>
                            {% for field in form %}
                            <tr>
                                <th><img src="{% static 'images/sub/join_info_ico.png' %}" alt=""/>{{ field.label }}</th>
                                <td>
                                    {{ field }}
                                    {% for error in field.errors %}<div style="color:red;">{{ error }}</div>{% endfor %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="join_btn">
                    <a href="javascript:document.getElementById('profile_form').submit();"><img src="{% static 'images/sub/info_bts.png' %}" alt="정보수정"/></a>
                    <a href="{% url 'accounts:mypage' %}" style="margin-left:5px; cursor:pointer;">취소</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
