@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video,input,select,*{margin:0; padding:0; border:0; outline:0; vertical-align:top;}

@font-face {
	font-family:"NG";
	src: local("Nanum Gothic");
	src: url("/_css/font/NanumGothic.eot");
	src: url("/_css/font/NanumGothic.eot?#iefix") format("embedded-opentype");
	src: url("/_css/font/NanumGothic.ttf") format("truetype");
	src: url("/_css/font/NanumGothic.woff") format("woff");
}

@font-face {
	font-family:"NBG";
	src: local("Nanum Barun Gothic");
	src: url("/_css/font/NanumBarunGothic.eot");
	src: url("/_css/font/NanumBarunGothic.eot?#iefix") format("embedded-opentype");
	src: url("/_css/font/NanumBarunGothic.ttf") format("truetype");
}

span{
	display:inline-block;
}

body{font-family:"NG",NanumGothic,dotum,arial; font-size:13px; color:black; line-height:1; overflow-x:hidden;}

html,body{height:auto;}

a{text-decoration:none;	/*white-space:nowrap; text-overflow:ellipsis; overflow:hidden; word-wrap:break-word; table-layout:fixed;*/}

ol,ul{list-style: none;}

img,input,select,label{vertical-align:top;}

blockquote,q{quotes:none;}

blockquote:before,blockquote:after,q:before,q:after{content:''; content: none;}

table{width:100%; border-collapse:collapse; border-spacing:0; table-layout:fixed;}

h1,h2,h3,h4,h5,h6{font-size:1em; font-weight:600;}

address,cite,em{font-style:normal;}

a:link,a:visited{color:black;}

a:hover,a:active{color:black;}

b{font-weight:600;}

input,select,textarea{background:white; border:1px solid #e0e0e0; box-sizing:border-box;}

hr{border-top:1px solid #cecece; margin-bottom:20px;}