{% extends "ba_office/base_office.html" %}
{% load static %}
{% load office_tags %}

{% block left_menu %}
{% include "ba_office/includes/lfmember_left.html" %}
{% endblock %}

{% block extra_js %}
<script>
function fn_search() {
    document.schform.submit();
}
</script>
{% endblock %}

{% block content %}
<div class="navi">HOME  &gt;  회원관리  &gt;  자녀정보</div>
<div class="h_55"></div>

<p class="title">자녀정보{% if is_searched %} - 리스트 (총 {{ total_count }}건){% endif %}</p>

<form name="schform" method="get" action="{% url 'office_child_list' %}">
<table border="0" cellpadding="3" cellspacing="0" style="margin-bottom:5px;">
    <tr>
        <td>
            <select name="sch_type" class="select">
                <option value="child_name" {% if sch_type == 'child_name' %}selected{% endif %}>자녀이름</option>
                <option value="parent_name" {% if sch_type == 'parent_name' %}selected{% endif %}>부모이름</option>
            </select>
            <input type="text" name="sch_keyword" value="{{ sch_keyword }}" size="15" class="input" />
        </td>
        <td>&nbsp;<a href="javascript:fn_search();"><img src="{% static 'ba_office/images/btn_search.gif' %}" alt="검색" /></a></td>
    </tr>
</table>
</form>

{% if is_searched %}
<div class="tb_basic">
    <table summary="자녀정보" border="0" cellpadding="0" cellspacing="0">
        <colgroup>
            <col width="4%" />
            <col width="18%" />
            <col width="16%" />
            <col width="8%" />
            <col width="10%" />
            <col width="5%" />
            <col width="5%" />
            <col width="8%" />
            <col width="10%" />
            <col width="8%" />
            <col width="8%" />
        </colgroup>
        <tbody>
            <tr>
                <th scope="col">순번</th>
                <th scope="col">부모</th>
                <th scope="col">자녀</th>
                <th scope="col">생년월일</th>
                <th scope="col">학교명</th>
                <th scope="col">학년</th>
                <th scope="col">성별</th>
                <th scope="col">상태</th>
                <th scope="col">가입일</th>
                <th scope="col">관리</th>
                <th scope="col">상세보기</th>
            </tr>
            {% for c in children %}
            <tr>
                <td>{{ forloop.counter|page_index:children.start_index }}</td>
                <td class="left">{{ c.parent.name }}<br />[{{ c.parent.username }}]<br />({{ c.parent.phone }})</td>
                <td class="left">{{ c.name }}<br />[{{ c.child_id }}]<br />[{{ c.card_num }}]</td>
                <td>{{ c.birth }}</td>
                <td>{{ c.school }}</td>
                <td>{{ c.grade }}</td>
                <td>{% if c.gender == 'M' %}남자{% elif c.gender == 'F' %}여자{% endif %}</td>
                <td>{% if c.course_state == 'CAN' %}미수강{% elif c.course_state == 'ING' %}<font color="blue">수강중</font>{% elif c.course_state == 'END' %}퇴단{% elif c.course_state == 'PAU' %}<font color="red">일시중지</font>{% else %}{{ c.course_state }}{% endif %}</td>
                <td>{{ c.insert_dt|date:"Y-m-d" }}</td>
                <td>{% if c.child_id %}<a href="{% url 'office_child_modify' c.child_id %}"><img src="{% static 'ba_office/images/btn_edit.gif' %}" alt="수정" /></a>{% endif %}</td>
                <td>{% if c.child_id %}<a href="{% url 'office_child_detail' c.child_id %}" target="_blank"><img src="{% static 'ba_office/images/btn_detail.gif' %}" alt="상세" /></a>{% endif %}</td>
            </tr>
            {% empty %}
            <tr><td colspan="11" style="padding:20px;">검색 결과가 없습니다.</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% if children.has_other_pages %}
<div class="paging">
    {% if children.has_previous %}
    <a href="?page=1&sch_type={{ sch_type }}&sch_keyword={{ sch_keyword }}">&laquo;</a>
    <a href="?page={{ children.previous_page_number }}&sch_type={{ sch_type }}&sch_keyword={{ sch_keyword }}">&lt;</a>
    {% endif %}
    {% for num in children.paginator.page_range %}
        {% if children.number == num %}
        <strong>{{ num }}</strong>
        {% elif num > children.number|add:"-5" and num < children.number|add:"5" %}
        <a href="?page={{ num }}&sch_type={{ sch_type }}&sch_keyword={{ sch_keyword }}">{{ num }}</a>
        {% endif %}
    {% endfor %}
    {% if children.has_next %}
    <a href="?page={{ children.next_page_number }}&sch_type={{ sch_type }}&sch_keyword={{ sch_keyword }}">&gt;</a>
    <a href="?page={{ children.paginator.num_pages }}&sch_type={{ sch_type }}&sch_keyword={{ sch_keyword }}">&raquo;</a>
    {% endif %}
</div>
{% endif %}
{% else %}
<div style="padding:40px 0; text-align:center; color:#888;">검색 조건을 입력 후 조회하세요.</div>
{% endif %}
{% endblock %}
