<div class="left_menu">
    <p class="title">과정관리</p>
    <div id="la20">
        <div class="menu">
            <ul>
                <li><a href="{% url 'office_main' %}">구장정보</a></li>
                <li><a href="{% url 'office_main' %}">코칭스탭관리</a></li>
                <li><a href="{% url 'office_main' %}">과정관리</a></li>
                <li><a href="{% url 'office_main' %}">훈련일정관리</a></li>
                <li><a href="{% url 'office_main' %}">프로모션관리</a></li>
            </ul>
        </div>
    </div>
</div>
