<div class="left_menu">
    <p class="title">회원관리</p>
    <div id="la20">
        <div class="menu">
            <ul>
                <li><a href="{% url 'office_member_list' %}">회원정보</a></li>
                <li><a href="{% url 'office_child_list' %}">자녀정보</a></li>
                <li><a href="{% url 'office_member_stat' %}">회원통계</a></li>
                <li><a href="{% url 'office_sms_send' %}">SMS/LMS</a></li>
                <li><a href="{% url 'office_sms_send_list' %}">SMS/LMS 내역</a></li>
                <li><a href="{% url 'office_memberpoint_list' %}">회원포인트내역</a></li>
                <li><a href="{% url 'office_secession_list' %}">탈퇴회원리스트</a></li>
            </ul>
        </div>
    </div>
</div>
