<div class="left_menu">
    <p class="title">REPORT</p>
    <div id="la20">
        <div class="menu">
            <ul>
                <li><a href="{% url 'office_main' %}">주간회의자료</a></li>
                <li><a href="{% url 'office_main' %}">(회원)전체_DATA</a></li>
                <li><a href="{% url 'office_main' %}">(Daily)전체_DATA</a></li>
                <li><a href="{% url 'office_main' %}">(결제월)전체_DATA</a></li>
                <li><a href="{% url 'office_main' %}">(결제일)전체_DATA</a></li>
                <li><a href="{% url 'office_main' %}">(회원)구장별 현재원</a></li>
                <li><a href="{% url 'office_main' %}">조회월 수강 통계</a></li>
                <li><a href="{% url 'office_main' %}">조회월 현재원</a></li>
                <li><a href="{% url 'office_main' %}">쇼핑몰 주문현황</a></li>
                <li><a href="{% url 'office_main' %}">신규(재)입단 리스트</a></li>
                <li><a href="{% url 'office_main' %}">퇴단자 리스트</a></li>
                <li><a href="{% url 'office_main' %}">퇴단자 통계</a></li>
                <li><a href="{% url 'office_main' %}">미납자관리</a></li>
                <li><a href="{% url 'office_main' %}">월별출결현황</a></li>
                <li><a href="{% url 'office_main' %}">연도별 구장별 현황</a></li>
                <li><a href="{% url 'office_main' %}">코치 실적 미반영 취소</a></li>
                <li><a href="{% url 'office_main' %}"><font color="blue"><b>코치별현황 NEW</b></font></a></li>
            </ul>
        </div>
    </div>
</div>
