<div class="left_menu">
    <p class="title">수강생관리</p>
    <div id="la20">
        <div class="menu">
            <ul>
                <li><a href="{% url 'office_student_list' %}">수강생정보(NEW)</a></li>
                <li><a href="{% url 'office_student_search' %}">수강생조회(이름검색)</a></li>
                <li><a href="{% url 'office_chghis_list' %}">변경이력조회</a></li>
                <li><a href="{% url 'office_master_list' %}">입단신청내역(NEW)</a></li>
                <li><a href="{% url 'office_attendance' %}">출결관리(NEW)</a></li>
                <li><a href="{% url 'office_dues_setting' %}">기본금액관리</a></li>
            </ul>
        </div>
    </div>
</div>
