<div class="left_menu">
    <p class="title">포탈관리</p>
    <div id="la20">
        <div class="menu">
            <ul>
                <li><a href="{% url 'office_main' %}">팝업관리</a></li>
                <li><a href="{% url 'office_main' %}">공지사항</a></li>
                <li><a href="{% url 'office_main' %}">이벤트</a></li>
                <li><a href="{% url 'office_main' %}">공부하는AAFC</a></li>
                <li><a href="{% url 'office_main' %}">학부모다이어리</a></li>
                <li><a href="{% url 'office_main' %}">AAFC 소식</a></li>
                <li><a href="{% url 'office_main' %}">포토갤러리</a></li>
                <li><a href="{% url 'office_main' %}">클래식-U8</a></li>
                <li><a href="{% url 'office_main' %}">클래식-U10</a></li>
                <li><a href="{% url 'office_main' %}">클래식-U12</a></li>
            </ul>
        </div>
    </div>
</div>
