<div class="left_menu">
    <p class="title">쇼핑몰관리</p>
    <div id="la20">
        <div class="menu">
            <ul>
                <li><a href="{% url 'office_main' %}">카테고리관리</a></li>
                <li><a href="{% url 'office_main' %}">상품관리</a></li>
                <li><a href="{% url 'office_main' %}">주문내역</a></li>
                <li><a href="{% url 'office_main' %}">배송용리포트</a></li>
                <li><a href="{% url 'office_main' %}">통합재고관리</a></li>
            </ul>
        </div>
    </div>
</div>
