<div class="left_menu">
    <p class="title">쇼핑몰관리</p>
    <div id="la20">
        <div class="menu">
            <ul>
                <li><a href="{% url 'shop_category_list' %}">카테고리관리</a></li>
                <li><a href="{% url 'shop_goods_list' %}">상품관리</a></li>
                <li><a href="{% url 'shop_order_list' %}">주문내역</a></li>
                <li><a href="{% url 'shop_deliver_list' %}">배송용리포트</a></li>
                <li><a href="{% url 'shop_stock_list' %}">통합재고관리</a></li>
            </ul>
        </div>
    </div>
</div>
