{% extends "base.html" %}
{% load static humanize %}

{% block title %}주문/배송조회 - AAFC{% endblock %}

{% block content %}
    <div id="sub_contents">
        <div class="sub_top shop"><img src="{% static 'images/sub/sub_top_m_shop.jpg' %}" alt=""/></div>
        <div class="sub_menu">
            <ul>
                {% for menu in shop_menu %}
                <li {% if menu.id == current_menu %}class="present"{% endif %}><a href="{% url menu.url_name %}">{{ menu.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="sub_contents">
            <h2 class="sub_tit">주문/배송조회<span><img src="{% static 'images/sub/home_ico.jpg' %}" alt=""/>HOME&nbsp;&nbsp;>&nbsp;&nbsp;쇼핑몰&nbsp;&nbsp;>&nbsp;&nbsp;<b>주문/배송조회</b></span></h2>

            <!-- 검색 -->
            <div class="lookup_search">
                <span class="mobile"><b>조회기간</b></span>
                <input type="text" name="ssdate" id="ssdate" value="{{ ssdate }}"/>
                <span><b>-</b></span>
                <input type="text" name="sedate" id="sedate" value="{{ sedate }}"/>
                <a href="javascript:searchChk();"><span>검색</span></a>
            </div>

            <!-- 주문 목록 -->
            <div class="lookup_list">
                <table summary="">
                    <thead>
                        <tr>
                            <th>주문일시</th>
                            <th>주문번호/상품</th>
                            <th>금액</th>
                            <th>상태</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if not page_obj.object_list %}
                        <tr>
                            <td colspan="4">주문 내역이 없습니다.</td>
                        </tr>
                        {% else %}
                            {% for order in page_obj %}
                            <tr>
                                <td>{{ order.reg_date|date:"Y-m-d H:i" }}</td>
                                <td class="tit">
                                    <a href="{% url 'shop:order_detail' order_id=order.id %}">
                                        {{ order.order_no }}<br/>
                                        {% for item in order.items.all %}
                                            {% if forloop.first %}[{{ item.goods_title }}]{% endif %}
                                        {% endfor %}
                                    </a>
                                </td>
                                <td>{{ order.settle_price|intcomma }}원</td>
                                <td>{{ order.get_state_display }}</td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>

            <!-- 페이지네이션 -->
            {% if page_obj.paginator.num_pages > 1 %}
            <ul class="paging">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}&ssdate={{ ssdate }}&sedate={{ sedate }}">&lt;</a></li>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                    <li class="active"><a href="?page={{ num }}&ssdate={{ ssdate }}&sedate={{ sedate }}"><b>{{ num }}</b></a></li>
                    {% elif num > page_obj.number|add:"-5" and num < page_obj.number|add:"5" %}
                    <li><a href="?page={{ num }}&ssdate={{ ssdate }}&sedate={{ sedate }}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}&ssdate={{ ssdate }}&sedate={{ sedate }}">&gt;</a></li>
                {% endif %}
            </ul>
            {% endif %}

        </div>
    </div>
<script>
function searchChk() {
    var ssdate = document.getElementById('ssdate').value;
    var sedate = document.getElementById('sedate').value;
    location.href = '{% url "shop:order_list" %}?ssdate=' + ssdate + '&sedate=' + sedate;
}
</script>
{% endblock %}
