{% extends "base.html" %}
{% load static humanize %}

{% block title %}주문상세 - AAFC{% endblock %}

{% block content %}
    <div id="sub_contents">
        <div class="sub_top shop"><img src="{% static 'images/sub/sub_top_m_shop.jpg' %}" alt=""/></div>
        <div class="sub_menu">
            <ul>
                {% for menu in shop_menu %}
                <li {% if menu.id == current_menu %}class="present"{% endif %}><a href="{% url menu.url_name %}">{{ menu.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="sub_contents">
            <h2 class="sub_tit">주문/배송조회<span><img src="{% static 'images/sub/home_ico.jpg' %}" alt=""/>HOME&nbsp;&nbsp;>&nbsp;&nbsp;쇼핑몰&nbsp;&nbsp;>&nbsp;&nbsp;<b>주문/배송조회</b></span></h2>

            <!-- 주문 상품 -->
            <div class="lookup_info">
                <ul class="lookup_tit">
                    <li>상품명</li>
                    <li>가격</li>
                    <li>수량</li>
                    <li>포인트</li>
                    <li>합계</li>
                </ul>

                {% for item in items %}
                <div class="lookup_cont">
                    <div class="lookup_cont_01">
                        <div class="img">
                            {% if item.goods_img %}
                            <img src="{{ MEDIA_URL }}fcdata/shop_goods/{{ item.goods_img }}" width="64"/>
                            {% endif %}
                        </div>
                        <div class="txt">
                            <h3 class="name">{{ item.goods_title }}</h3>
                            {% for opt in item.options.all %}
                            <p class="size">{{ opt.title }}:{{ opt.item }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="lookup_cont_02">
                        <span class="mobile">가격 : </span>
                        {{ item.price|intcomma }}원
                    </div>
                    <div class="lookup_cont_03">
                        <span class="mobile">수량 : </span>
                        <input type="text" name="" value="{{ item.ea }}" readonly/> 개
                    </div>
                    <div class="lookup_cont_04">
                        <span class="mobile">포인트 : </span>
                        <span class="yellow">{{ item.add_cmoney|default:"0" }} P</span>
                    </div>
                    <div class="lookup_cont_05">
                        <span class="mobile">합계 : </span>
                        <span class="red">{{ item.subtotal|intcomma }} 원</span>
                    </div>
                </div>
                {% endfor %}
            </div>

            <!-- 배송비 정보 -->
            {% if deliveries %}
            <div class="goods_buy_delivery">
                <table summary="">
                    <thead>
                        <tr>
                            <th>항목</th>
                            <th>내용</th>
                            <th>금액</th>
                            <th>상품명</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for del in deliveries %}
                        <tr>
                            <td>배송비</td>
                            <td>{% if del.delivery_fee > 0 %}선불{% else %}무료배송{% endif %}</td>
                            <td>{% if del.delivery_fee > 0 %}+ {{ del.delivery_fee|intcomma }} 원{% else %}무료{% endif %}</td>
                            <td>{{ del.delivery_name|default:"-" }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}

            <!-- 결제정보 -->
            <h3 class="member_tit"><img src="{% static 'images/sub/join_ico_09.png' %}" alt=""/>결제정보<span>※ 결제하신 방법 및 결제 금액을 확인해주세요.</span></h3>
            <div class="join_info">
                <table summary="">
                    <tbody>
                        <tr>
                            <th><img src="{% static 'images/sub/join_info_ico.png' %}" alt=""/>결제방법</th>
                            <td><b>{{ order.pay_method|default:order.payway }}</b></td>
                        </tr>
                        <tr>
                            <th><img src="{% static 'images/sub/join_info_ico.png' %}" alt=""/>결제금액</th>
                            <td><b><font color="red">{{ order.settle_price|intcomma }}  원</font></b></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- 주문자 확인 -->
            <h3 class="member_tit"><img src="{% static 'images/sub/join_ico_07.png' %}" alt=""/>주문자 확인<span>※ 주문자의 정보를 확인해주세요.</span></h3>
            <div class="join_info">
                <table summary="">
                    <tbody>
                        <tr>
                            <th><img src="{% static 'images/sub/join_info_ico.png' %}" alt=""/>주문자</th>
                            <td>{{ order.ord_name }}</td>
                        </tr>
                        <tr class="contact">
                            <th><img src="{% static 'images/sub/join_info_ico.png' %}" alt=""/>연락처</th>
                            <td>{{ order.ord_mobile }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- 배송정보 확인 -->
            <h3 class="member_tit"><img src="{% static 'images/sub/join_ico_01.png' %}" alt=""/>배송정보 확인<span>※ 최종 배송지가 정확한지 확인해주세요. </span></h3>
            <div class="join_info">
                <table summary="">
                    <tbody>
                        <tr>
                            <th><img src="{% static 'images/sub/join_info_ico.png' %}" alt=""/>주문자</th>
                            <td>{{ order.rcv_name }}</td>
                        </tr>
                        <tr class="contact">
                            <th><img src="{% static 'images/sub/join_info_ico.png' %}" alt=""/>연락처</th>
                            <td>{{ order.rcv_mobile }}</td>
                        </tr>
                        <tr>
                            <th><img src="{% static 'images/sub/join_info_ico.png' %}" alt=""/>우편번호</th>
                            <td>{{ order.rcv_post }}</td>
                        </tr>
                        <tr>
                            <th><img src="{% static 'images/sub/join_info_ico.png' %}" alt=""/>주소</th>
                            <td><p style="line-height:18px;">{{ order.rcv_addr }}<br>{{ order.rcv_addr_detail }}</p></td>
                        </tr>
                        {% if order.order_memo %}
                        <tr>
                            <th><img src="{% static 'images/sub/join_info_ico.png' %}" alt=""/>요청사항</th>
                            <td>{{ order.order_memo }}</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>

            <div class="join_btn right">
                <a href="{% url 'shop:order_list' %}"><img src="{% static 'images/sub/list_bts.png' %}" alt=""/></a>
            </div>

        </div>
    </div>
{% endblock %}
