{% extends "base.html" %}
{% load static humanize %}

{% block title %}주문상세 - AAFC{% endblock %}

{% block content %}
    <div id="sub_contents">
        <div class="sub_top shop"><img src="{% static 'images/sub/sub_top_m_shop.jpg' %}" alt=""/></div>
        <div class="sub_menu">
            <ul>
                {% for menu in shop_menu %}
                <li {% if menu.id == current_menu %}class="present"{% endif %}><a href="{% url menu.url_name %}">{{ menu.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="sub_contents">
            <h2 class="sub_tit">주문/배송조회<span><img src="{% static 'images/sub/home_ico.jpg' %}" alt=""/>HOME&nbsp;&nbsp;>&nbsp;&nbsp;쇼핑몰&nbsp;&nbsp;>&nbsp;&nbsp;<b>주문상세</b></span></h2>

            <!-- 주문 상품 -->
            <div class="lookup_info">
                <ul class="lookup_tit">
                    <li>상품명</li>
                    <li>가격</li>
                    <li>수량</li>
                    <li>옵션</li>
                    <li>합계</li>
                </ul>

                {% for item in items %}
                <div class="lookup_cont">
                    <div class="lookup_cont_01">
                        <div class="img">
                            {% if item.goods_img %}
                            <img src="/fcdata/shop_goods/{{ item.goods_img }}" style="width:100%;height:100%;position:absolute;top:0;left:0;"/>
                            {% endif %}
                        </div>
                        <div class="txt">
                            <h3 class="name">{{ item.goods_title }}</h3>
                            {% if item.option_txt %}
                            <p class="size">{{ item.option_txt }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="lookup_cont_02">
                        <span class="mobile">가격 : </span>
                        {{ item.price|intcomma }}원
                    </div>
                    <div class="lookup_cont_03">
                        <span class="mobile">수량 : </span>
                        {{ item.ea }} 개
                    </div>
                    <div class="lookup_cont_04">
                        <span class="mobile">옵션 : </span>
                        {% for opt in item.options.all %}
                        {{ opt.title }}:{{ opt.item }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                    <div class="lookup_cont_05">
                        <span class="mobile">합계 : </span>
                        <span class="red">{{ item.subtotal|intcomma }}원</span>
                    </div>
                </div>
                {% endfor %}
            </div>

            <!-- 배송비 정보 -->
            {% if deliveries %}
            <div class="goods_buy_delivery">
                <table summary="">
                    <thead>
                        <tr>
                            <th>항목</th>
                            <th>택배사</th>
                            <th>송장번호</th>
                            <th>배송비</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for del in deliveries %}
                        <tr>
                            <td>배송 {{ forloop.counter }}</td>
                            <td>{{ del.delivery_name|default:"-" }}</td>
                            <td>{{ del.delivery_no|default:"-" }}</td>
                            <td>{% if del.delivery_fee > 0 %}{{ del.delivery_fee|intcomma }}원{% else %}무료{% endif %}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}

            <!-- 결제정보 -->
            <h3 class="member_tit"><img src="{% static 'images/sub/join_ico_09.png' %}" alt=""/>결제정보</h3>
            <div class="join_info">
                <table summary="">
                    <tbody>
                        <tr>
                            <th><img src="{% static 'images/sub/join_info_ico.png' %}" alt=""/>주문번호</th>
                            <td><b>{{ order.order_no }}</b></td>
                        </tr>
                        <tr>
                            <th><img src="{% static 'images/sub/join_info_ico.png' %}" alt=""/>주문일시</th>
                            <td>{{ order.reg_date|date:"Y-m-d H:i" }}</td>
                        </tr>
                        <tr>
                            <th><img src="{% static 'images/sub/join_info_ico.png' %}" alt=""/>결제방법</th>
                            <td><b>{{ order.pay_method|default:order.payway }}</b></td>
                        </tr>
                        <tr>
                            <th><img src="{% static 'images/sub/join_info_ico.png' %}" alt=""/>상품금액</th>
                            <td>{{ order.total_order_price|intcomma }}원</td>
                        </tr>
                        <tr>
                            <th><img src="{% static 'images/sub/join_info_ico.png' %}" alt=""/>배송비</th>
                            <td>{{ order.total_delivery_fee|intcomma }}원</td>
                        </tr>
                        <tr>
                            <th><img src="{% static 'images/sub/join_info_ico.png' %}" alt=""/>결제금액</th>
                            <td><b><font color="red">{{ order.settle_price|intcomma }}원</font></b></td>
                        </tr>
                        <tr>
                            <th><img src="{% static 'images/sub/join_info_ico.png' %}" alt=""/>주문상태</th>
                            <td><b>{{ order.get_state_display }}</b></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- 배송 정보 -->
            <h3 class="member_tit"><img src="{% static 'images/sub/join_ico_01.png' %}" alt=""/>배송정보</h3>
            <div class="join_info">
                <table summary="">
                    <tbody>
                        <tr>
                            <th><img src="{% static 'images/sub/join_info_ico.png' %}" alt=""/>주문자</th>
                            <td>{{ order.ord_name }}</td>
                        </tr>
                        <tr class="contact">
                            <th><img src="{% static 'images/sub/join_info_ico.png' %}" alt=""/>주문자 연락처</th>
                            <td>{{ order.ord_mobile }}</td>
                        </tr>
                        <tr>
                            <th><img src="{% static 'images/sub/join_info_ico.png' %}" alt=""/>수령인</th>
                            <td>{{ order.rcv_name }}</td>
                        </tr>
                        <tr class="contact">
                            <th><img src="{% static 'images/sub/join_info_ico.png' %}" alt=""/>수령인 연락처</th>
                            <td>{{ order.rcv_mobile }}</td>
                        </tr>
                        <tr>
                            <th><img src="{% static 'images/sub/join_info_ico.png' %}" alt=""/>배송주소</th>
                            <td>({{ order.rcv_post }}) {{ order.rcv_addr }} {{ order.rcv_addr_detail }}</td>
                        </tr>
                        {% if order.order_memo %}
                        <tr>
                            <th><img src="{% static 'images/sub/join_info_ico.png' %}" alt=""/>배송메모</th>
                            <td>{{ order.order_memo }}</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>

            <div style="text-align:center;padding:30px 0;">
                <a href="{% url 'shop:order_list' %}" style="display:inline-block;padding:12px 30px;background:#002b69;color:white;font-weight:600;border-radius:5px;">목록으로</a>
            </div>

        </div>
    </div>
{% endblock %}
