{% extends "base.html" %}
{% load static %}

{% block title %}입단신청 - AAFC{% endblock %}

{% block content %}
    <div id="sub_contents">
        <div class="sub_top join"><img src="{% static 'images/sub/sub_top_m_join.jpg' %}" alt=""/></div>
        <div class="sub_menu">
            <ul>
                <li class="present"><a href="{% url 'enrollment:apply_step1' %}">입단신청</a></li>
            </ul>
        </div>
        <div class="sub_contents">
            <h2 class="sub_tit">입단신청<span><img src="{% static 'images/sub/home_ico.jpg' %}" alt=""/>HOME&nbsp;&nbsp;>&nbsp;&nbsp;<b>입단신청</b></span></h2>

            <h3 class="member_tit"><img src="{% static 'images/sub/join_ico_11.png' %}" alt=""/>교육용품비 안내</h3>
            <div class="edu_img"><img src="{% static 'images/sub/join_info_img_0_240222.png' %}" alt=""/></div>

            <h3 class="member_tit"><img src="{% static 'images/sub/join_ico_11.png' %}" alt=""/>입단 신청방법</h3>
            <div class="edu_img"><img src="{% static 'images/sub/edu_img_20200210.jpg' %}" alt=""/></div>

            <form id="join_frm" name="join_frm" method="post" action="{% url 'enrollment:apply_step2' %}">
                {% csrf_token %}
                <input type="hidden" name="member_id" id="member_id" value="{{ request.user.username }}"/>
                <input type="hidden" name="member_name" id="member_name" value="{{ request.user.name }}"/>
                <input type="hidden" name="child_id" id="child_id" value=""/>
                <input type="hidden" name="child_name" id="child_name" value=""/>
                <input type="hidden" name="join_chk" id="join_chk" value=""/>
                <input type="hidden" name="end_chk" id="end_chk" value="0"/>
                <input type="hidden" name="local_code" id="local_code" value=""/>
                <input type="hidden" name="local_name" id="local_name" value=""/>
                <input type="hidden" name="sta_code" id="sta_code" value=""/>
                <input type="hidden" name="sta_name" id="sta_name" value=""/>
                <input type="hidden" name="id_chk" id="id_chk" value="F"/>
                <input type="hidden" name="sel_child" id="sel_child" value=""/>
                <input type="hidden" name="sel_child_name" id="sel_child_name" value=""/>
                <input type="hidden" name="rad_local_code" id="rad_local_code" value=""/>
                <input type="hidden" name="rad_sta_code" id="rad_sta_code" value=""/>
                <input type="hidden" name="lec_cycle" id="lec_cycle" value="1"/>
                <input type="hidden" name="lec_period" id="lec_period" value="3"/>
                <input type="hidden" name="sym" id="sym" value="{{ sym }}"/>

                <!-- 자녀선택 -->
                <h3 class="member_tit"><img src="{% static 'images/sub/join_ico_07.png' %}" alt=""/>자녀선택</h3>
                <table summary="" class="edu_apply_03">
                    <thead>
                        <tr>
                            <th>자녀명</th>
                            <th>아이디</th>
                            <th class="mobile_last">생년월일</th>
                            <th>학교명</th>
                            <th>학년</th>
                            <th class="last">신장/체중/사이즈</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in children_data %}
                        <tr>
                            <td><label><input type="radio" name="sel_child_radio" value="{{ item.child.child_id }}" onclick="set_joinchild('{{ item.child.child_id }}','{{ item.child.name }}',{{ item.join_cnt }},{{ item.end_chk }});"/>{{ item.child.name }}</label></td>
                            <td>{{ item.child.child_id }}</td>
                            <td class="mobile_last">{% if item.child.birth|length >= 8 %}{{ item.child.birth|slice:":4" }}-{{ item.child.birth|slice:"4:6" }}-{{ item.child.birth|slice:"6:8" }}{% else %}{{ item.child.birth }}{% endif %}</td>
                            <td>{{ item.child.school }}</td>
                            <td>{{ item.child.grade }}</td>
                            <td class="last">{{ item.child.height }}cm/{{ item.child.weight }}kg/{{ item.child.size }}size</td>
                        </tr>
                    {% empty %}
                        <tr><td class="last" colspan="6">등록된 자녀가 없습니다.</td></tr>
                    {% endfor %}
                        <tr>
                            <td class="last" colspan="6"><p style="text-align:left;">- 수강을 희망하는 자녀를 선택하여 주세요</p></td>
                        </tr>
                    </tbody>
                </table>
                <div class="edu_add_child"><a href="{% url 'accounts:child_add' %}"><img src="{% static 'images/sub/edu_add_child.jpg' %}" alt="자녀추가"/></a></div>

                <!-- 추천인입력 -->
                <h3 class="member_tit"><img src="{% static 'images/sub/join_ico_01.png' %}" alt=""/>추천인입력</h3>
                <table summary="" class="edu_apply_02">
                    <colgroup><col width="30%"/><col width="*"/></colgroup>
                    <tbody>
                        <tr>
                            <th>추천인아이디</th>
                            <td class="last">
                                <input type="text" name="recommend_id" id="recommend_id" value="" onchange="clear_id();"/><a href="javascript:recommend_userID();"><img src="{% static 'images/sub/idconfirm_btn.jpg' %}" alt="아이디확인"/></a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- 수강정보 설정 -->
                <h3 class="member_tit"><img src="{% static 'images/sub/join_ico_01.png' %}" alt=""/>수강정보 설정</h3>
                <table summary="" class="edu_apply_02">
                    <colgroup><col width="30%"/><col width="*"/></colgroup>
                    <tbody>
                        <tr>
                            <th>수업횟수</th>
                            <td class="last">
                                <ul>
                                    <li><label><input type="radio" name="lec_cycle_radio" value="1" checked onclick="setCycle(1);"/>주 1회</label></li>
                                    <li><label><input type="radio" name="lec_cycle_radio" value="2" onclick="setCycle(2);"/>주 2회</label></li>
                                    <li><label><input type="radio" name="lec_cycle_radio" value="3" onclick="setCycle(3);"/>주 3회</label></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>수강기간</th>
                            <td class="last">
                                <ul>
                                    <li><label><input type="radio" name="lec_period_radio" value="3" checked/>3개월</label></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>시작월</th>
                            <td class="last">
                                <select name="sym_sel" id="sym_sel" disabled>
                                    <option value="{{ sym }}">{{ syear }}년 {{ smonth }}월</option>
                                </select>
                                <input type="hidden" name="syear" value="{{ syear }}"/>
                                <input type="hidden" name="smonth" value="{{ smonth }}"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <p>- 지역선택 > 구장선택 후 강좌를 선택하여 주세요. </p>
                                <p>&nbsp;</p>
                                <p>- 강좌선택 후 수업시작일을 반드시 선택하셔야 합니다. </p>
                                <p>&nbsp;</p>
                                <p>- 매월 21일 이후 익월 수강신청 가능합니다.</p>
                                <p>&nbsp;</p>
                                <p>- 정원 초과 강좌 선택 시 바로 대기 등록이 가능합니다.</p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- 지역선택 -->
                <h3 class="member_tit"><img src="{% static 'images/sub/join_ico_10.png' %}" alt=""/>지역선택</h3>
                <div class="edu_select">
                    <ul class="depth_6">
                        {% for lc in locals_list %}
                        <li><label><input type="radio" name="rad_local_code_radio" onclick="sel_local('{{ lc.subcode }}','{{ lc.code_name }}');" value="{{ lc.subcode }}"/>{{ lc.code_name }}</label></li>
                        {% endfor %}
                    </ul>
                </div>

                <!-- 구장선택 -->
                <h3 class="member_tit"><img src="{% static 'images/sub/join_ico_11.png' %}" alt=""/>구장선택</h3>
                <div class="edu_select">
                    <ul class="depth_5" id="area_stadium">
                        <li>지역을 선택하여 주세요</li>
                    </ul>
                </div>

                <!-- 강좌 선택 -->
                <h3 class="member_tit"><img src="{% static 'images/sub/join_ico_12.png' %}" alt=""/>강좌 선택</h3>
                <div id="area_lecture">
                    <div class="edu_select"><ul class="depth_5"><li>구장을 선택하여 주세요</li></ul></div>
                </div>

                <!-- 시작일선택 -->
                <h3 class="member_tit"><img src="{% static 'images/sub/join_ico_13.png' %}" alt=""/>시작일 선택</h3>
                <div id="area_selday">
                    <div class="edu_select"><ul class="depth_5"><li>강좌를 선택하여 주세요</li></ul></div>
                </div>
            </form>

            <div class="edu_next_step"><a href="javascript:goNext();"><img src="{% static 'images/sub/next_step_btn.jpg' %}" alt="다음단계"/></a></div>
        </div>
    </div>

    <form name="wait_form" id="wait_form">
        <input type="hidden" name="w_p_id" id="w_p_id" value=""/>
        <input type="hidden" name="w_p_name" id="w_p_name" value=""/>
        <input type="hidden" name="w_c_id" id="w_c_id" value=""/>
        <input type="hidden" name="w_c_name" id="w_c_name" value=""/>
        <input type="hidden" name="w_local_code" id="w_local_code" value=""/>
        <input type="hidden" name="w_local_name" id="w_local_name" value=""/>
        <input type="hidden" name="w_sta_code" id="w_sta_code" value=""/>
        <input type="hidden" name="w_sta_name" id="w_sta_name" value=""/>
        <input type="hidden" name="w_lecture_code" id="w_lecture_code" value=""/>
        <input type="hidden" name="w_lecture_name" id="w_lecture_name" value=""/>
    </form>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    function resetSta() { $("#area_stadium").html(""); }
    function resetLecture() { $("#area_lecture").html('<div class="edu_select"><ul class="depth_5"><li>구장을 선택하여 주세요</li></ul></div>'); }
    function resetSelDay() { $("#area_selday").html('<div class="edu_select"><ul class="depth_5"><li>강좌를 선택하여 주세요</li></ul></div>'); }

    function set_joinchild(child_id, child_name, join_chk, end_chk) {
        $("#child_id").val(child_id);
        $("#child_name").val(child_name);
        $("#sel_child").val(child_id);
        $("#sel_child_name").val(child_name);
        $("#join_chk").val(join_chk);
        $("#end_chk").val(end_chk);
        if (join_chk > 0) {
            alert("입단신청 내역이 존재합니다. 재수강등록은 구단사무실 또는 담당코치에게 연락하여 진행바랍니다.");
            $("input[name='sel_child_radio']").removeAttr("checked");
            $("#child_id").val(""); $("#sel_child").val("");
            return;
        }
    }

    function setChild() { return $('input[name="sel_child_radio"]:checked').length > 0; }
    function setCycle(val) { $("#lec_cycle").val(val); }
    function clear_id() { $("#id_chk").val("F"); }

    function recommend_userID() {
        var obj_temp = document.join_frm.recommend_id;
        if (obj_temp.value.length < 1) { alert("아이디를 입력해 주세요"); obj_temp.focus(); return; }
        if ('{{ request.user.username }}' == $("#recommend_id").val()) { alert("추천인을 확인하여 주세요 자기 자신은 추천할 수 없습니다."); return; }
        $.post("{% url 'enrollment:ajax_recommend_check' %}", { check_id: $("#recommend_id").val(), csrfmiddlewaretoken: "{{ csrf_token }}" })
        .done(function(data) {
            if (data.valid) { alert($("#recommend_id").val() + " 아이디를 추천인 아이디로 등록합니다."); $("#id_chk").val('T'); }
            else { alert($("#recommend_id").val() + "는 존재하지 않는 아이디 입니다."); $("#id_chk").val('F'); }
        });
    }

    function sel_local(selLocalCode, selLocalName) {
        if (!setChild()) { alert("자녀를 선택하여 주세요"); $("input[name='rad_local_code_radio']").removeAttr("checked"); return; }
        resetSta(); resetLecture(); resetSelDay();
        $("#local_code").val(selLocalCode); $("#local_name").val(selLocalName); $("#rad_local_code").val(selLocalCode);
        $.ajax({ url: "{% url 'enrollment:ajax_stadiums' %}", data: {local_code: selLocalCode}, success: function(data) { $("#area_stadium").html(data); } });
    }

    function sel_sta(selStaCode, selStaName) {
        if ($("#local_code").val() == "") { alert("권역을 선택하여 주세요"); return; }
        if (selStaCode == "11") { alert("은평롯데몰 구장은 온라인 결제를 지원하지 않습니다. -관리자에게 문의하여 주세요-"); return; }
        resetLecture(); resetSelDay();
        $("#sta_code").val(selStaCode); $("#sta_name").val(selStaName); $("#rad_sta_code").val(selStaCode);
        $.ajax({ url: "{% url 'enrollment:ajax_lectures' %}", data: {local_code: $("#local_code").val(), sta_code: selStaCode, lecture_dt: $("#sym").val()}, success: function(data) { $("#area_lecture").html(data); } });
    }

    function go_class(lecthis, jud, lecture_title) {
        if (jud > 1) {
            var msg = "정원이 초과된 강좌입니다. 아래의 강좌로 대기 등록을 하시겠습니까?\n";
            msg += "\n 부모님ID : " + $("#member_id").val() + " / 부모님이름 : " + $("#member_name").val();
            msg += "\n 자녀ID : " + $("#child_id").val() + " / 자녀이름 : " + $("#child_name").val();
            msg += "\n 권역 : " + $("#local_name").val() + " / 구장 : " + $("#sta_name").val();
            msg += "\n 강좌 : " + lecture_title;
            if (confirm(msg)) {
                $.post("{% url 'enrollment:ajax_waitlist_add' %}", {
                    local_code: $("#local_code").val(), sta_code: $("#sta_code").val(),
                    lecture_code: $("#" + lecthis).val(), child_id: $("#child_id").val(),
                    child_name: $("#child_name").val(), member_id: $("#member_id").val(),
                    member_name: $("#member_name").val(), csrfmiddlewaretoken: "{{ csrf_token }}"
                }).done(function(res) { alert(res.msg || "대기 등록되었습니다."); });
            }
            $("input:checkbox[id='" + lecthis + "']").attr("checked", false);
            return;
        }
        var lec_cycle = parseInt($("#lec_cycle").val());
        var chkcount_lec = $('input[name="cbList"]:checked').length;
        if (chkcount_lec > lec_cycle) { alert("주 " + lec_cycle + "회 이상 초과하여 선택 하실 수 없습니다."); $("input:checkbox[id='" + lecthis + "']").attr("checked", false); }
        var chkbox = $('input[name="cbList"]'), lecture_code = "";
        for (var i = 0; i < chkbox.length; i++) { if (chkbox[i].checked) lecture_code += chkbox[i].value + ","; }
        resetSelDay();
        $("#area_selday").load("{% url 'enrollment:ajax_course_days' %}?lecture_codes=" + lecture_code + "&lecture_dt=" + $("#sym").val());
    }

    function goNext() {
        if (!setChild()) { alert("자녀를 선택하여 주세요"); return; }
        if ($('input[name="rad_local_code_radio"]:checked').length == 0) { alert("지역을 선택하여 주세요"); return; }
        if ($("#sta_code").val() == "") { alert("구장을 선택하여 주세요"); return; }
        var lec_cycle = parseInt($("#lec_cycle").val());
        var chkcount_lec = $('input[name="cbList"]:checked').length;
        if (chkcount_lec < lec_cycle) { alert("강좌를 " + lec_cycle + "개 까지 선택하여야 합니다."); return; }
        var chkbox = $('input[name="cbList"]');
        for (var i = 0; i < chkbox.length; i++) {
            if (chkbox[i].checked) {
                if ($('input[name="cbDaylist_' + chkbox[i].value + '"]:checked').length == 0) { alert("수업 시작일을 선택하여 주세요"); return; }
            }
        }
        if ($("#recommend_id").val() != "" && $("#id_chk").val() != "T") { alert("추천인 아이디 확인을 하여주세요"); return; }
        join_frm.submit();
    }
</script>
{% endblock %}
