{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}입단신청 - AAFC{% endblock %}

{% block content %}
    <div id="sub_contents">
        <div class="sub_top join"><img src="{% static 'images/sub/sub_top_m_join.jpg' %}" alt=""/></div>
        <div class="sub_menu">
            <ul>
                <li class="present"><a href="{% url 'enrollment:apply_step1' %}">입단신청</a></li>
            </ul>
        </div>
        <div class="sub_contents">
            <h2 class="sub_tit">입단신청<span><img src="{% static 'images/sub/home_ico.jpg' %}" alt=""/>HOME&nbsp;&nbsp;>&nbsp;&nbsp;<b>입단신청</b></span></h2>
            <h3 class="member_tit"><img src="{% static 'images/sub/join_ico_09.png' %}" alt=""/>입단신청</h3>
            <div class="edu_info">
                <table summary="">
                    <tbody>
                        <tr>
                            <th><img src="{% static 'images/sub/join_info_ico.png' %}" alt=""/>구장명</th>
                            <td>{{ local_name }} > {{ sta_name }}</td>
                        </tr>
                        <tr>
                            <th><img src="{% static 'images/sub/join_info_ico.png' %}" alt=""/>과정명</th>
                            <td>{% for lec in lecture_details %}{{ lec.title }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                        </tr>
                        <tr>
                            <th><img src="{% static 'images/sub/join_info_ico.png' %}" alt=""/>자녀명</th>
                            <td>{{ child.name }}({{ child.child_id }})</td>
                        </tr>
                        <tr>
                            <th><img src="{% static 'images/sub/join_info_ico.png' %}" alt=""/>신청자</th>
                            <td>{{ user.name }}({{ user.username }})</td>
                        </tr>
                        <tr>
                            <th><img src="{% static 'images/sub/join_info_ico.png' %}" alt=""/>수강기간</th>
                            <td>{{ lec_period }}개월</td>
                        </tr>
                        <tr>
                            <th><img src="{% static 'images/sub/join_info_ico.png' %}" alt=""/>수강월(교육횟수)</th>
                            <td>{{ lecture_month }}</td>
                        </tr>
                        <tr>
                            <th><img src="{% static 'images/sub/join_info_ico.png' %}" alt=""/>교육용품비</th>
                            <td>{{ join_price|intcomma }}원<div class="info_blue">- 신규입단자는 첫달에 교육용품비 {{ join_price|intcomma }}원 부과됩니다.
                            <br/>- 재입단 또는 일시정지 후 재신청하실때 교육용품비가 적용될 경우 사무실로 연락주시기 바랍니다.
                            <br/>- 용품 지급은 첫 수업 때 샘플 유니폼을 입어보고, 그 다음 2주차에 지급됩니다.</div></td>
                        </tr>
                        <tr>
                            <th><img src="{% static 'images/sub/join_info_ico.png' %}" alt=""/>수강료</th>
                            <td>
                                {% for lec in lecture_details %}
                                <p>{{ lec.title }}<span><b class="bar">/</b><b class="m_bar">&#9654;</b>기본료 <b class="blue">{{ lec.lec_price|intcomma }}</b>원 X 횟수 <b class="blue">{{ lec.count }}</b> = 합계 <b class="red">{{ lec.total_price|intcomma }}원</b></span></p>
                                {% if not forloop.last %}<br/>{% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <th><img src="{% static 'images/sub/join_info_ico.png' %}" alt=""/>프로모션</th>
                            <td><div id="area_pro"></div></td>
                        </tr>
                        <tr>
                            <th><img src="{% static 'images/sub/join_info_ico.png' %}" alt=""/>추천인 아이디</th>
                            <td>{{ recommend_id }}</td>
                        </tr>
                        <tr>
                            <th><img src="{% static 'images/sub/join_info_ico.png' %}" alt=""/>결제금액</th>
                            <td>{{ payment_price|intcomma }}원<div class="info_red">※ 교육용품비 + 수강료 {% if pro_confirm == 1 %} - 프로모션 {% endif %} = 총 결제금액</div></td>
                        </tr>
                        <tr>
                            <th><img src="{% static 'images/sub/join_info_ico.png' %}" alt=""/>결제방법</th>
                            <td>
                                <label><input type="radio" name="p_payway" value="C" checked/>신용카드</label>
                                <label><input type="radio" name="p_payway" value="R"/>계좌이체</label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Toss 결제 폼 -->
            <form name="tos_form" id="tos_form">
                <input type="hidden" id="amount" value="{{ payment_price }}"/>
                <input type="hidden" id="orderId" value="{{ order_idxx }}"/>
                <input type="hidden" id="orderName" value="{{ good_name }}"/>
                <input type="hidden" id="customerName" value="{{ user.name }}"/>
            </form>

            <div class="join_btn">
                <a href="{% url 'enrollment:apply_step1' %}"><img src="{% static 'images/sub/cancel_bts.png' %}" alt="취소"/></a><a href="javascript:snd_chk()"><img src="{% static 'images/sub/payment_btn.png' %}" alt="결제하기"/></a>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
<script src="https://js.tosspayments.com/v1"></script>
<script type="text/javascript">
$(document).ready(function() {
    {% if pro_confirm == 1 %}
    $("#area_pro").load("{% url 'enrollment:ajax_promotions' %}?child_id={{ child.child_id }}&end_chk={{ data.end_chk }}&lec_cycle={{ lec_cycle }}&lec_period={{ lec_period }}&lecture_codes={% for lec in lecture_details %}{{ lec.code }}{% if not forloop.last %},{% endif %}{% endfor %}&step3=1");
    {% else %}
    $("#area_pro").hide();
    {% endif %}
});

var tossPayments = TossPayments('{{ toss_client_key }}');

function snd_chk() {
    if (!confirm("결제를 진행하시겠습니까?\n결제금액: {{ payment_price|intcomma }}원")) {
        return;
    }

    var payType = $("input[name='p_payway']:checked").val();
    var method = (payType === "C") ? "카드" : "계좌이체";

    tossPayments.requestPayment(method, {
        amount: Number(document.getElementById("amount").value),
        orderId: document.getElementById("orderId").value,
        orderName: document.getElementById("orderName").value,
        customerName: document.getElementById("customerName").value,
        successUrl: "{{ request.scheme }}://{{ request.get_host }}{% url 'payments:toss_enrollment_success' %}",
        failUrl: "{{ request.scheme }}://{{ request.get_host }}{% url 'payments:toss_enrollment_fail' %}"
    }).catch(function(error) {
        if (error.code === "USER_CANCEL") {
            alert("결제를 취소하셨습니다.");
        } else {
            alert(error.message || "결제 중 오류가 발생했습니다.");
        }
    });
}
</script>
{% endblock %}
