{% extends "ba_office/base_office.html" %}
{% load static %}
{% load office_tags %}

{% block left_menu %}
{% include "ba_office/includes/lfconsult_left.html" %}
{% endblock %}

{% block extra_js %}
<script>
function fn_search() {
    document.schform.submit();
}
</script>
{% endblock %}

{% block content %}
<div class="navi">HOME  &gt;  상담관리  &gt;  상담관리</div>
<div class="h_55"></div>

<p class="title">상담관리 - 리스트 ({{ date_from }} ~ {{ date_to }}, 총 {{ total_count }}건)</p>

<form name="schform" method="get" action="{% url 'office_consult_list' %}">
<div class="tb_basic" style="margin-bottom:5px;">
<table summary="검색" border="0" cellpadding="0" cellspacing="0">
    <colgroup><col width="12%" /><col width="38%" /><col width="12%" /><col width="38%" /></colgroup>
    <tbody>
        <tr>
            <th scope="col">구장</th>
            <td class="left">
                <select name="sch_stadium" class="select" style="width:200px;">
                    <option value="">== 전체 ==</option>
                    {% for s in stadiums %}
                    <option value="{{ s.sta_code }}" {% if sch_stadium == s.sta_code|stringformat:"d" %}selected{% endif %}>{{ s.sta_name }}</option>
                    {% endfor %}
                </select>
            </td>
            <th scope="col">담당코치</th>
            <td class="left">
                <select name="sch_coach" class="select" style="width:200px;">
                    <option value="">== 전체(미배정 포함) ==</option>
                    {% for c in coaches %}
                    <option value="{{ c.coach_code }}" {% if sch_coach == c.coach_code|stringformat:"d" %}selected{% endif %}>{{ c.coach_name }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
    </tbody>
</table>
</div>
<div style="text-align:right; margin-bottom:10px;">
    <a href="javascript:fn_search();"><img src="{% static 'ba_office/images/btn_search.gif' %}" alt="검색" /></a>
</div>
</form>

<div class="tb_basic">
    <table summary="상담리스트" border="0" cellpadding="0" cellspacing="0">
        <colgroup>
            <col width="5%" />
            <col width="7%" />
            <col width="9%" />
            <col width="7%" />
            <col width="10%" />
            <col />
            <col width="10%" />
            <col width="8%" />
            <col width="7%" />
            <col width="7%" />
            <col width="9%" />
        </colgroup>
        <tbody>
            <tr>
                <th scope="col">순번</th>
                <th scope="col">회원구분</th>
                <th scope="col">접수경로</th>
                <th scope="col">접수자</th>
                <th scope="col">상담유형</th>
                <th scope="col">제목</th>
                <th scope="col">구장</th>
                <th scope="col">담당코치</th>
                <th scope="col">상담상태</th>
                <th scope="col">고객상태</th>
                <th scope="col">등록일자</th>
            </tr>
            {% for con in consults %}
            <tr{% if con.stat_name == '상담접수' %} style="background:#FFA7A7;"{% elif con.stat_name == '이관/상담대기' %} style="background:#B2EBF4;"{% endif %}>
                <td>{{ total_count|subtract:forloop.counter0 }}</td>
                <td>{{ con.member_gbn_name }}</td>
                <td>{{ con.line_name }}</td>
                <td>{{ con.manage_name }}</td>
                <td>{{ con.cont_name }}</td>
                <td class="left"><a href="{% url 'office_consult_detail' con.id %}">{{ con.consult_title|truncatewords:10 }}</a></td>
                <td>{{ con.sta_name }}</td>
                <td>{{ con.coach_name_display }}</td>
                <td>{{ con.stat_name }}</td>
                <td>{{ con.cust_name }}</td>
                <td>{{ con.consult_dt|date:"Y.m.d" }}</td>
            </tr>
            {% empty %}
            <tr><td colspan="11" style="padding:20px;">상담 내역이 없습니다.</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% if consults.has_other_pages %}
<div class="paging">
    {% if consults.has_previous %}
    <a href="?page=1&sch_stadium={{ sch_stadium }}&sch_coach={{ sch_coach }}">&laquo;</a>
    <a href="?page={{ consults.previous_page_number }}&sch_stadium={{ sch_stadium }}&sch_coach={{ sch_coach }}">&lt;</a>
    {% endif %}
    {% for num in consults.paginator.page_range %}
        {% if consults.number == num %}
        <strong>{{ num }}</strong>
        {% elif num > consults.number|add:"-5" and num < consults.number|add:"5" %}
        <a href="?page={{ num }}&sch_stadium={{ sch_stadium }}&sch_coach={{ sch_coach }}">{{ num }}</a>
        {% endif %}
    {% endfor %}
    {% if consults.has_next %}
    <a href="?page={{ consults.next_page_number }}&sch_stadium={{ sch_stadium }}&sch_coach={{ sch_coach }}">&gt;</a>
    <a href="?page={{ consults.paginator.num_pages }}&sch_stadium={{ sch_stadium }}&sch_coach={{ sch_coach }}">&raquo;</a>
    {% endif %}
</div>
{% endif %}
{% endblock %}
