{% extends "ba_office/base_office.html" %}
{% load static %}
{% load office_tags %}
{% load humanize %}

{% block left_menu %}
{% include "ba_office/includes/lfstudent_left.html" %}
{% endblock %}

{% block content %}
<div class="navi">HOME  &gt;  수강생관리  &gt;  변경이력상세</div>
<div class="h_55"></div>

<p class="title">변경이력상세</p>

<div class="btn_right">
    <a href="{% url 'office_chghis_list' %}"><img src="{% static 'ba_office/images/btn_list.gif' %}" alt="목록" /></a>
</div>

<!-- 변경 정보 -->
<div class="tb_basic" style="margin-bottom:10px;">
<table summary="변경정보" border="0" cellpadding="0" cellspacing="0">
    <colgroup><col width="15%" /><col width="35%" /><col width="15%" /><col width="35%" /></colgroup>
    <tbody>
        <tr>
            <th scope="col">회원명/ID</th>
            <td class="left">{{ member_name }} ({{ history.member_id }})</td>
            <th scope="col">수강생명</th>
            <td class="left">{{ child_name }}</td>
        </tr>
        <tr>
            <th scope="col">구분</th>
            <td class="left">{{ history.chg_gbn }} - {{ history.chg_desc }}</td>
            <th scope="col">등록일자/등록자</th>
            <td class="left">{% if history.reg_dt %}{{ history.reg_dt|date:"Y-m-d H:i" }}{% endif %} / {{ history.reg_id }}</td>
        </tr>
    </tbody>
</table>
</div>

<!-- 변경 전/후 비교 - 2단 레이아웃 -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td width="49%" valign="top">
<!-- 변경 전 -->
<p class="title">변경 전</p>
{% if src_enrollment %}
<div class="tb_basic" style="margin-bottom:10px;">
<table summary="변경전" border="0" cellpadding="0" cellspacing="0">
    <colgroup><col width="30%" /><col width="70%" /></colgroup>
    <tbody>
        <tr>
            <th scope="col">신청구분 / 회/개월</th>
            <td class="left">{{ src_enrollment.apply_gubun|apply_gubun_label }} / {{ src_enrollment.lec_cycle }}회 / {{ src_enrollment.lec_period }}개월</td>
        </tr>
        <tr>
            <th scope="col">수강기간</th>
            <td class="left">{{ src_enrollment.start_dt|slice:":4" }}-{{ src_enrollment.start_dt|slice:"4:6" }} ~ {{ src_enrollment.end_dt|slice:":4" }}-{{ src_enrollment.end_dt|slice:"4:6" }}</td>
        </tr>
        <tr>
            <th scope="col">결제금액</th>
            <td class="left" style="text-align:right;">{{ src_enrollment.pay_price|intcomma }}원</td>
        </tr>
    </tbody>
</table>
</div>

{% if src_bills %}
<div class="scroll" style="margin-bottom:10px;">
<table class="tb_scroll" border="0" cellpadding="0" cellspacing="0">
    <colgroup><col width="60%" /><col width="40%" /></colgroup>
    <thead><tr><th>청구항목</th><th>금액</th></tr></thead>
    <tbody>
    {% for b in src_bills %}
    <tr><td class="left">{{ b.bill_desc }}</td><td style="text-align:right;">{{ b.bill_amt|intcomma }}</td></tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endif %}

{% if src_course_entries %}
<div class="scroll" style="margin-bottom:10px;">
<table class="tb_scroll" border="0" cellpadding="0" cellspacing="0">
    <colgroup><col width="25%" /><col width="31%" /><col width="16%" /><col width="14%" /><col width="14%" /></colgroup>
    <thead><tr><th>구장명</th><th>과정명</th><th>수강료</th><th>년월</th><th>수강상태</th></tr></thead>
    <tbody>
    {% for c in src_course_entries %}
    <tr>
        <td>{% with l=lectures_map|dict_get:c.lecture_code %}{{ l.stadium.sta_name }}{% endwith %}</td>
        <td class="left">{% with l=lectures_map|dict_get:c.lecture_code %}{{ l.lecture_title }}{% endwith %}</td>
        <td style="text-align:right;">{{ c.course_ym_amt|intcomma }}원</td>
        <td>{{ c.course_ym|date:"Y-m" }}</td>
        <td>{{ c.course_stats|lecture_stats_label }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endif %}

{% else %}
<p style="margin:10px 0; color:#999;">변경 전 데이터가 없습니다.</p>
{% endif %}
</td>

<td width="2%"></td>

<td width="49%" valign="top">
<!-- 변경 후 -->
<p class="title">변경 후</p>
{% if enrollment %}
<div class="tb_basic" style="margin-bottom:10px;">
<table summary="변경후" border="0" cellpadding="0" cellspacing="0">
    <colgroup><col width="30%" /><col width="70%" /></colgroup>
    <tbody>
        <tr>
            <th scope="col">신청구분 / 회/개월</th>
            <td class="left">{{ enrollment.apply_gubun|apply_gubun_label }} / {{ enrollment.lec_cycle }}회 / {{ enrollment.lec_period }}개월</td>
        </tr>
        <tr>
            <th scope="col">수강기간</th>
            <td class="left">{{ enrollment.start_dt|slice:":4" }}-{{ enrollment.start_dt|slice:"4:6" }} ~ {{ enrollment.end_dt|slice:":4" }}-{{ enrollment.end_dt|slice:"4:6" }}</td>
        </tr>
        <tr>
            <th scope="col">결제금액</th>
            <td class="left" style="text-align:right;">{{ enrollment.pay_price|intcomma }}원</td>
        </tr>
    </tbody>
</table>
</div>

{% if bills %}
<div class="scroll" style="margin-bottom:10px;">
<table class="tb_scroll" border="0" cellpadding="0" cellspacing="0">
    <colgroup><col width="60%" /><col width="40%" /></colgroup>
    <thead><tr><th>청구항목</th><th>금액</th></tr></thead>
    <tbody>
    {% for b in bills %}
    <tr><td class="left">{{ b.bill_desc }}</td><td style="text-align:right;">{{ b.bill_amt|intcomma }}</td></tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endif %}

{% if course_entries %}
<div class="scroll" style="margin-bottom:10px;">
<table class="tb_scroll" border="0" cellpadding="0" cellspacing="0">
    <colgroup><col width="25%" /><col width="31%" /><col width="16%" /><col width="14%" /><col width="14%" /></colgroup>
    <thead><tr><th>구장명</th><th>과정명</th><th>수강료</th><th>년월</th><th>수강상태</th></tr></thead>
    <tbody>
    {% for c in course_entries %}
    <tr>
        <td>{% with l=lectures_map|dict_get:c.lecture_code %}{{ l.stadium.sta_name }}{% endwith %}</td>
        <td class="left">{% with l=lectures_map|dict_get:c.lecture_code %}{{ l.lecture_title }}{% endwith %}</td>
        <td style="text-align:right;">{{ c.course_ym_amt|intcomma }}원</td>
        <td>{{ c.course_ym|date:"Y-m" }}</td>
        <td>{{ c.course_stats|lecture_stats_label }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endif %}

{% else %}
<p style="margin:10px 0; color:#999;">해당 입단 정보가 삭제되었거나 존재하지 않습니다.</p>
{% endif %}
</td>
</tr>
</table>

{% endblock %}
