{% extends "ba_office/base_office.html" %}
{% load static %}

{% block left_menu %}
{% include "ba_office/includes/lfstudent_left.html" %}
{% endblock %}

{% block extra_js %}
<script>
function srch_snd() {
    document.srch_form.submit();
}
function selChild(member_id, member_name, child_id, child_name) {
    document.reg_form.member_id.value = member_id;
    document.reg_form.member_name.value = member_name;
    document.reg_form.child_id.value = child_id;
    document.reg_form.child_name.value = child_name;
}
function sel_stadium(code) {
    $.getJSON("{% url 'office_ajax_student_stadium' %}", {grplocal_code: code}, function(data) {
        var sel = document.reg_form.sta_code;
        sel.options.length = 1;
        for (var i = 0; i < data.length; i++) {
            sel.options[sel.options.length] = new Option(data[i].sta_name, data[i].sta_code);
        }
        document.reg_form.lecture_code.options.length = 1;
    });
}
function sel_course(sta_code) {
    $.getJSON("{% url 'office_ajax_student_course' %}", {sta_code: sta_code}, function(data) {
        var sel = document.reg_form.lecture_code;
        sel.options.length = 1;
        for (var i = 0; i < data.length; i++) {
            sel.options[sel.options.length] = new Option(data[i].lecture_title, data[i].lecture_code);
        }
    });
}
function snd_chk() {
    if (document.reg_form.member_id.value == "") { alert("회원정보를 선택하세요."); return; }
    if (document.reg_form.child_id.value == "") { alert("자녀정보를 선택하세요."); return; }
    if (document.reg_form.locd_code.value == "") { alert("권역을 선택하세요."); return; }
    if (document.reg_form.sta_code.value == "") { alert("구장을 선택하세요."); return; }
    if (document.reg_form.lecture_code.value == "") { alert("과정을 선택하세요."); return; }
    if (document.reg_form.wait_seq.value == "") { alert("대기순번을 입력하세요."); return; }

    var con = confirm("등록하시겠습니까?");
    if (con) {
        document.reg_form.submit();
    }
}
</script>
{% endblock %}

{% block content %}
<div class="navi">HOME  &gt;  수강생관리  &gt;  대기자정보관리</div>
<div class="h_55"></div>

{% if error_msg %}<div style="color:red; font-weight:bold; padding:10px;">{{ error_msg }}</div>{% endif %}

<p class="title">수강대기자 조회</p>

<div class="tb_basic">
<form name="srch_form" method="get" action="{% url 'office_wait_write' %}">
<table summary="자녀정보" border="0" cellpadding="0" cellspacing="0">
    <colgroup><col width="10%" /><col width="90%" /></colgroup>
    <tbody>
        <tr>
            <th scope="col">검색</th>
            <td class="left">
                <select name="sch_field" class="select">
                    <option value="member_id" {% if sch_field == "member_id" %}selected{% endif %}>부모님ID</option>
                    <option value="child_id" {% if sch_field == "child_id" %}selected{% endif %}>자녀ID</option>
                    <option value="child_name" {% if sch_field == "child_name" %}selected{% endif %}>자녀명</option>
                </select>
                <input type="text" name="sch_value" style="width:200px;" value="{{ sch_value }}" />
            </td>
        </tr>
    </tbody>
</form>
</table>
</div>
<div class="btn_right"><a href="javascript:srch_snd();"><img src="{% static 'ba_office/images/btn_search.gif' %}" alt="검색" /></a></div>

<div class="tb_basic">
<table summary="회원정보" border="0" cellpadding="0" cellspacing="0">
    <colgroup>
        <col width="10%" /><col width="10%" /><col width="10%" /><col width="10%" />
        <col width="10%" /><col /><col width="8%" /><col width="8%" />
        <col width="8%" /><col width="8%" />
    </colgroup>
    <tbody>
        <tr>
            <th scope="col">이름</th>
            <th scope="col">아이디</th>
            <th scope="col">부모님ID</th>
            <th scope="col">부모님명</th>
            <th scope="col">생년월일</th>
            <th scope="col">학교명</th>
            <th scope="col">학년</th>
            <th scope="col">성별</th>
            <th scope="col">가입일</th>
            <th scope="col">상태</th>
        </tr>
        {% for c in children %}
        <tr style="cursor:pointer;" onclick="selChild('{{ c.parent.username }}','{{ c.parent.name }}','{{ c.child_id }}','{{ c.name }}'); this.style.backgroundColor='#F5F2E8';">
            <td>{{ c.name }}</td>
            <td>{{ c.child_id }}</td>
            <td>{{ c.parent.username }}</td>
            <td>{{ c.parent.name }}</td>
            <td>{{ c.birth }}</td>
            <td>{{ c.school }}</td>
            <td>{{ c.grade }}</td>
            <td>{% if c.gender == "M" %}남자{% elif c.gender == "F" %}여자{% endif %}</td>
            <td>{{ c.insert_dt|date:"Y-m-d" }}</td>
            <td>{% if c.status == "N" %}정상{% elif c.status == "S" %}중지{% else %}탈퇴{% endif %}</td>
        </tr>
        {% empty %}
        {% if sch_value %}
        <tr><td align="center" colspan="10">등록 Data가 없습니다.</td></tr>
        {% else %}
        <tr><td align="center" colspan="10">검색어를 입력해 주세요.</td></tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
</div>

<div class="h_20"></div>

<p class="title">대기자 등록 정보</p>
<div class="tb_basic">
<form name="reg_form" method="post" action="{% url 'office_wait_write' %}">
{% csrf_token %}
<table summary="대기자정보" border="0" cellpadding="0" cellspacing="0">
    <colgroup><col width="15%" /><col width="35%" /><col width="15%" /><col width="35%" /></colgroup>
    <tbody>
        <tr>
            <th scope="col">부모님ID</th>
            <td class="left"><input type="text" name="member_id" style="width:100px;" readonly /></td>
            <th scope="col">부모님명</th>
            <td class="left"><input type="text" name="member_name" style="width:100px;" readonly /></td>
        </tr>
        <tr>
            <th scope="col">자녀ID</th>
            <td class="left"><input type="text" name="child_id" style="width:100px;" readonly /></td>
            <th scope="col">자녀명</th>
            <td class="left"><input type="text" name="child_name" style="width:100px;" readonly /></td>
        </tr>
        <tr>
            <th scope="col">필드명</th>
            <td class="left">
                <select name="locd_code" class="select" onchange="sel_stadium(this.value);">
                    <option value="">==선택==</option>
                    {% for cd in locd_list %}
                    <option value="{{ cd.subcode }}">{{ cd.code_name }}</option>
                    {% endfor %}
                </select>
            </td>
            <th scope="col">구장명</th>
            <td class="left">
                <select name="sta_code" class="select" onchange="sel_course(this.value);">
                    <option value="">==선택==</option>
                </select>
            </td>
        </tr>
        <tr>
            <th scope="col">과정명</th>
            <td class="left" colspan="3">
                <select name="lecture_code" class="select">
                    <option value="">==선택==</option>
                </select>
            </td>
        </tr>
        <tr>
            <th scope="col">대기순번</th>
            <td class="left" colspan="3">
                <input type="text" name="wait_seq" style="width:50px;" maxlength="2" />
            </td>
        </tr>
        <tr>
            <th scope="col">비고<br>(특이사항 입력)</th>
            <td class="left" colspan="3">
                <textarea name="bigo" class="textarea" style="width:230px" rows="5"></textarea>
            </td>
        </tr>
    </tbody>
</form>
</table>
</div>

<div class="btn_right">
    <a href="javascript:snd_chk();"><img src="{% static 'ba_office/images/btn_regi.gif' %}" alt="등록" /></a>
    <a href="{% url 'office_wait_list' %}"><img src="{% static 'ba_office/images/btn_cancel.gif' %}" alt="취소" /></a>
</div>

{% endblock %}
